[submodule "lib/projectm"]
	path = lib/projectm
	url = https://github.com/projectM-visualizer/projectm.git
[submodule "lib/soloud"]
	path = lib/soloud
	url = https://github.com/jarikomppa/soloud.git
[submodule "lib/game-music-emu"]
	path = lib/game-music-emu
	url = https://github.com/libgme/game-music-emu.git
[submodule "lib/ayumi"]
	path = lib/ayumi
	url = https://github.com/true-grue/ayumi.git
[submodule "lib/pt3player"]
	path = lib/pt3player
	url = https://github.com/Volutar/pt3player.git
[submodule "lib/libstsound"]
	path = lib/libstsound
	url = https://github.com/cpcsdk/libstsound.git
[submodule "lib/ffmpeg"]
	path = lib/ffmpeg
	url = https://github.com/FFmpeg/FFmpeg.git
[submodule "lib/pixelarticons"]
	path = lib/pixelarticons
	url = https://github.com/halfmage/pixelarticons.git
