[submodule "lib/projectm"]
	path = lib/projectm
	url = https://github.com/projectM-visualizer/projectm.git
[submodule "lib/soloud"]
	path = lib/soloud
	url = https://github.com/jarikomppa/soloud.git
[submodule "lib/game-music-emu"]
	path = lib/game-music-emu
	url = https://github.com/libgme/game-music-emu.git
[submodule "lib/ayumi"]
	path = lib/ayumi
	url = https://github.com/true-grue/ayumi.git
